*{
    margin: 0;
    padding: 0;
}

.page{
    color: red;
}

.formContent{
    width: 600px;
    height: 450px;
    background: white;
    padding: 20px;
    border-radius: 4px;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.disable{
    color : #bbbbbb;
}